<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Cupli</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,600%7CHind:400,400i,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/font-icons.css" />
  <link rel="stylesheet" href="/css/sliders.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

</head>
<style type="text/css">
  body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }

  .modal-login {
    width: 350px;
  }

  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }

  .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
  }

  .modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  .modal-login h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
  }

  .modal-login .modal-content {
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
  }

  .modal-login .form-group {
    margin-bottom: 20px;
  }

  .modal-login label {
    font-weight: normal;
    font-size: 13px;
  }

  .modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
  }

  .modal-login .form-control:focus {
    border-color: #ccc;
  }

  .modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
  }

  .modal-login .btn {
    font-size: 16px;
    font-weight: bold;
    background: #1b1825;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
  }

  .modal-login .btn:hover,
  .modal-login .btn:focus {
    background: #4d4e4e;
  }

  .modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
  }

  .modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
  }

  .modal-login a {
    color: #fff;
    text-decoration: underline;
  }

  .modal-login a:hover {
    text-decoration: none;
  }

  .modal-login a {
    color: #333333;
    text-decoration: none;
  }

  .modal-login a:hover {
    text-decoration: underline;
  }

  .modal-login .fa {
    font-size: 21px;
  }

  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
</style>
<body class="relative">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader"></div>
  </div>

  <!-- Navigation -->
  <header class="nav-type-1">
    <nav class="navbar">
      <div class="header-wrap relative">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Logo -->
          <div class="logo-container">
            <div class="logo-wrap">
              <a href="/">
                <img class="logo" src="/img/logo_dark.png" alt="logo">
              </a>
            </div>
          </div>
        </div> <!-- end navbar-header -->

        <div class="nav-wrap">
          <div class="collapse navbar-collapse" id="navbar-collapse">

            <ul class="nav navbar-nav">
              <% if(login == 'login'){ %>
              <li>
                  <a style="color:#7F9BCF">Hello <%- username %>!</a>
              </li>
              <li>
                <a href="/">Home</a>
              </li>
              <li class="nav-item-toggle active">
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/blog1">My Page</a>
              </li>
              <li>
                <a href="/blog2">SNS Regist</a>
              </li>
              <li>
                  <a href="/logout">Logout</a></li>
              </li>
              <% } else{ %>
              <li class="nav-item-toggle active">
                <a href="/">Home</a>
              </li>
              <li>
                  <a href="#ModalLogin" data-toggle="modal">Login</a>
              </li>
              <li>
                  <a href="#ModalRegistration" data-toggle="modal">Sign Up</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div> <!-- end nav-wrap -->

      </div> <!-- end header wrap -->


      <!-- Nav trigger -->
      <div id="nav-trigger">
        <div id="nav-icon">
          <div class="nav-icon-inner">
            <div id="nav-icon-trigger" class="nav-icon-trigger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div> <!-- end nav trigger -->

    </nav> <!-- end navbar -->
  </header>

  <!-- Main -->
  <main class="main-wrapper oh pl-80">

    <!-- Page Title -->
    <section class="page-title text-center" style="background-image: url(img/page_title/about_us_title_bg.jpg);">
      <div class="container relative clearfix">
        <div class="title-holder">
          <div class="title-text">
            <h1>About</h1>
            <h2 class="subheading">About Cupli.</h2>
          </div>
        </div>
      </div>
    </section> <!-- end page title -->

    <section class="section-wrap-lg intro" id="intro">
      <div class="container">
        <div class="row">

          <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
            <h1>큐플리는 인공지능 기술을 활용한<br>사용자 맞춤형 음악추천 큐레이터 서비스 입니다</h1>
            <br><br>
            인공지능 스피커는 현대 사회의 수많은 IT 기기들 중에서 가장 독보적인 위치를 차지하고 있습니다. 어떤 IT 기기보다도 사용자의 일상생활에 밀접하게 연관되어 차세대 인터페이스인 음성인식 인터페이스를 활용하는 최적의 플랫폼이기 때문입니다. 기존 인공지능 스피커에서 음악을 검색할 때는 키워드를 사용자로부터 직접 입력 받아 재생하는 경우가 많았습니다. 따라서 과제를 통해 사용자의 감정 상태와 관심 분야에 따른 맞춤형 플레이리스트를 추천하고자 합니다.
            <br><br>
            사용자의 SNS 분석을 통해 정성적 데이터를 수집한 후, 사용자가 인공지능 스피커에 직접 상황을 지정하여 명령하기 않아도 감정 상태와 관심 있는 키워드를 반영한 음악 추천 서비스를 구현하고, 더 나아가 노래를 통한 사용자의 현재 감성 상태에 따른 심리치료를 구현하고자 합니다.
            <br><br>
            <img src="/img/blog/about1.jpg" alt="about1">
            <br><br>
            프로그램 동작 시나리오는 다음과 같습니다. 사용자가 음성을 통해 인공지능 스피커에 자신의 감정 상태에 따른 노래를 추천해 달라는 명령어를 전달하면 인공지능 스피커는 웹 서버에 사용자의 SNS 계정 정보가 등록되어 있는지 확인합니다. 사용자가 SNS계정 정보가 없다면 계정 등록을 요구하며 프로그램을 종료 시키고, 등록된 계정 정보가 존재한다면 해당 SNS 계정에서 사용자의 게시글을 크롤링합니다. 앞의 과정을 통해 얻어낸 텍스트는 파이썬 코드를 이용한 감성 분석 과정과 빈도수 키워드 추출 과정을 통해 감성 키워드 및 빈도수 키워드를 추출해냅니다. 이후 프로그램은 사용자의 감정 상태를 최우선 기준으로 삼아 노래를 검색하고, 사용자의 최근 관심사에 따른 결과 데이터는 이에 보조하여 보다 구체적인 노래 분류를 설정함으로써 음악 선정의 폭을 좁혀 사용자에게 가장 적합한 노래를 추천하도록 합니다. 이후 음원 사이트의 태그 기능을 통해 사용자의 상태를 나타내는 감정 형용사와 일치하는 노래를 일차 분류해 내고, 사용자의 최근 관심사를 나타내는 키워드를 포함하는 노래 목록을 이차로 분류하여 인공지능 스피커를 통해 출력하도록 합니다.
            <br><br>
            <img src="/img/blog/about2.jpg" alt="about2">
            <br><br>
            사용자의 일상생활이 기록되는 SNS 공간에서 사용자의 감정을 추출해내 이를 음악 큐레이션 기술에 접목시킴으로써 사용자의 정성적 데이터를 보다 구체적이고 입체적으로 도출할 수 있다. 인공지능 스피커가 지닌 연결성 및 확장성을 고려한다면 해당 연구의 적용 가능 분야는 도서, 의류, 금융, 유통, 여행, 영화 등 다양한 분야에까지 무한히 활용 가능할 것으로 기대됩니다. 사용자의 감성 분석 기술이 인공지능 스피커와 결합하여 다양한 플랫폼들의 큐레이션 기술과 연결된다면 이는 충분히 인공지능이 인간의 감성을 읽고 자연스럽게 상호작용하는 시대에 도래하기 위한 밑거름이 될 수 있을 것입니다.
            <br><br>
          </div> <!-- end col -->

        </div>
      </div>
    </section> <!-- end intro -->

    <!-- Footer -->
    <footer class="footer">
      <div class="bottom-footer bg-white">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 copyright text-center">
              <span>
                &copy; 2017 Sobre Theme | Made by <a href="https://deothemes.com">DeoThemes</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer> <!-- end footer -->



  </main> <!-- end main wrapper -->
  <!-- Modal -->
  <div id="ModalLogin" class="modal fade">
      <div class="modal-dialog modal-login">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Login</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                  <form name="login" action="/login" method="post">
                      <!--form action="/login" method="post"-->
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fas fa-pen"></i></span>
                              <input type="text" class="form-control" id="input_ID" name="userID" placeholder="ID"
                                  required="required">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                              <input type="password" class="form-control" id="input_PW" name="userPW" placeholder="Password"
                                  required="required">
                          </div>
                      </div>
                      <div class="form-group">
                          <button type="submit" id="login_btn" class="btn btn-primary btn-block btn-lg">Login</button>
                      </div>
                      <!-- <script>
                          $("#login_btn").click(function () {
                              var id = $("input[name=userID]").val();
                              var pw = $("input[name=userPW]").val();
                              if (id != "" || pw != "")
                                  $.post('/login', { userID: id, userPW: pw }, function (data) {
                                      if (data.msg != null) {
                                          alert(data.msg);
                                      } else {
                                          window.location.href = "/";
                                      }
                                  })

                          });
                          $("#input_ID").keydown(function (e) {
                              if (e.keyCode == 13) {
                                  var id = $("input[name=userID]").val();
                                  var pw = $("input[name=userPW]").val();
                                  if (id != "" || pw != "")
                                      $.post('/login', { userID: id, userPW: pw }, function (data) {
                                          if (data.msg != null) {
                                              alert(data.msg);
                                          } else {
                                              window.location.href = "/";
                                          }
                                      })
                              }
                          })
                          $("#input_PW").keydown(function (e) {
                              if (e.keyCode == 13) {
                                  var id = $("input[name=userID]").val();
                                  var pw = $("input[name=userPW]").val();
                                  if (id != "" || pw != "")
                                      $.post('/login', { userID: id, userPW: pw }, function (data) {
                                          if (data.msg != null) {
                                              alert(data.msg);
                                          } else {
                                              window.location.href = "/";
                                          }
                                      })
                              }
                          })
                      </script> -->

                  </form>
              </div>
              <div class="modal-footer"></div>
          </div>
      </div>
  </div>
  <div id="ModalRegistration" class="modal fade">
      <div class="modal-dialog modal-login">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Sign Up</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                  <form action="/join" method="post">
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fas fa-pen"></i></span>
                              <input type="text" class="form-control" name="new_userID" placeholder="ID" required="required">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fas fa-key"></i></span>
                              <input type="password" class="form-control" name="new_userPW" placeholder="Password"
                                  required="required">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fas fa-unlock"></i></span>
                              <input type="password" class="form-control" name="new_userPW_confirm" placeholder="Password-Confirm"
                                  required="required">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fas fa-pen-nib"></i></span>
                              <input type="text" class="form-control" name="new_userName" placeholder="User Name"
                                  required="required">
                          </div>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                      </div>
                  </form>
              </div>
              <div class="modal-footer"></div>
          </div>
      </div>
  </div>

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/plugins.js"></script>
  <script type="text/javascript" src="/js/scripts.js"></script>

</body>
</html>
