<!DOCTYPE html>
<html lang="ko">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,600%7CHind:400,400i,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/font-icons.css" />
  <link rel="stylesheet" href="/css/sliders.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

<style type="text/css">
  body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }

  .modal-login {
    width: 350px;
  }

  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }

  .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
  }

  .modal-login .close {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  .modal-login h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
  }

  .modal-login .modal-content {
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
  }

  .modal-login .form-group {
    margin-bottom: 20px;
  }

  .modal-login label {
    font-weight: normal;
    font-size: 13px;
  }

  .modal-login .form-control {
    min-height: 38px;
    padding-left: 5px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
  }

  .modal-login .form-control:focus {
    border-color: #ccc;
  }

  .modal-login .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
    border-radius: 0;
  }

  .modal-login .btn {
    font-size: 16px;
    font-weight: bold;
    background: #1b1825;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
  }

  .modal-login .btn:hover,
  .modal-login .btn:focus {
    background: #4d4e4e;
  }

  .modal-login .hint-text {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
  }

  .modal-login .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
  }

  .modal-login a {
    color: #fff;
    text-decoration: underline;
  }

  .modal-login a:hover {
    text-decoration: none;
  }

  .modal-login a {
    color: #333333;
    text-decoration: none;
  }

  .modal-login a:hover {
    text-decoration: underline;
  }

  .modal-login .fa {
    font-size: 21px;
  }

  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
</style>

<body>
  <main class="main-wrapper oh">
    <!-- Hero Slider -->
    <section class="section-wrap nopadding gradient-overlay pl-80">

      <div class="hero-holder">
        <h1>WWJ Music Player</h1>
        <h2>Your own playlist / Music theraphy</h2>
      </div>

      <div id="flexslider-hero" class="flexslider fullscreen-img">
        <ul class="slides container-full-height">
          <li>
            <img src="/img/portfolio/hero_1.jpg" alt="">
            <div class="img-holder" style="background-image: url(img/portfolio/hero_1.jpg)"></div>
          </li>
          <li>
            <img src="/img/portfolio/hero_2.jpg" alt="">
            <div class="img-holder" style="background-image: url(img/portfolio/hero_2.jpg)"></div>
          </li>
          <li>
            <img src="/img/portfolio/hero_3.jpg" alt="">
            <div class="img-holder" style="background-image: url(img/portfolio/hero_3.jpg)"></div>
          </li>
        </ul>
      </div>

    </section> <!-- end hero slider -->
  </main> <!-- end main wrapper -->

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/plugins.js"></script>
  <script type="text/javascript" src="/js/scripts.js"></script>

</body>
</html>
